{{template "base" .}}

{{define "content"}}

<!-- TEXT BLOCK : START -->
<div class="container">
  <div class="row">
    <div class="col">
      <img
        src="/static/images/generals-quarters.png"
        class="img-fluid img-thumbnail mx-auto d-block room-image"
      />
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h1 class="text-center mt-4">General's Quarter</h1>
      <p>
        Your home away from home, set on the majestic waters of the Atlantic
        Ocean, this will be a vacation to remember. Your home away from home,
        set on the majestic waters of the Atlantic Ocean, this will be a
        vacation to remember.Your home away from home, set on the majestic
        waters of the Atlantic Ocean, this will be a vacation to remember.Your
        home away from home, set on the majestic waters of the Atlantic Ocean,
        this will be a vacation to remember.Your home away from home, set on the
        majestic waters of the Atlantic Ocean, this will be a vacation to
        remember.Your home away from home, set on the majestic waters of the
        Atlantic Ocean, this will be a vacation to remember.Your home away from
        home, set on the majestic waters of the Atlantic Ocean, this will be a
        vacation to remember.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <a id="check-availability-button" href="#!" class="btn btn-success"
        >Check Avaiability</a
      >
    </div>
  </div>
</div>
<!-- TEXT BLOCK : END -->

{{ end }}

{{define "js"}}

<script>
  document
    .getElementById("check-availability-button")
    .addEventListener("click", function () {
      // notify("This is my message", "success");

      // notifyModal(
      //   "title",
      //   "<em>Hello, World!</em>",
      //   "success",
      //   "My Text for the button"
      // );

      let html = `
            <form id="check-availability-form" action="" method="POST" novalidate class="needs-validation search-form mx-auto">
              <div class="row">
                <div class="col">
                  <div class="row g-3" id="reservation-dates-modal">
                      <div class="col p-2">
                        <input disabled required type="text" class="form-control" name="start" id="start" placeholder="Arrival">
                      </div>
                      <div class="col p-2">
                        <input disabled required type="text" class="form-control" name="end" id="end" placeholder="Departure">
                      </div>
                  </div>
                </div>
              </div>
            </form>
          `;
      attention.custom({
        msg: html,
        title: "Choose your dates",

        willOpen: () => {
          const elem = document.getElementById("reservation-dates-modal");
          const rp = new DateRangePicker(elem, {
            format: "dd-mm-yyyy",
            showOnFocus: true,
            orientation: "top",
          });
        },
        didOpen: () => {
          document.getElementById("start").removeAttribute("disabled");
          document.getElementById("end").removeAttribute("disabled");
        },
        callback: function (result) {
          console.log("called");

          let form = document.getElementById("check-availability-form");
          let formData = new FormData(form);
          formData.append("csrf_token", "{{.CSRFToken}}");

          fetch("/search-availability-json", {
            method: "post",
            body: formData,
          })
            .then((response) => response.json())
            .then((data) => {
              console.log(data);
              console.log(data.ok);
              console.log(data.message);
            });
        },
      });
    });
</script>

{{ end }}
